nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    border-bottom: 0.3px solid #21292380;
    margin-bottom: 20px;

}
nav img{
    width: 130px;
    height: 34px;

}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: relative;
}

li a{
    font-size: 16px;
    font-weight: 400;
    color: #3D3D3D;

}
li a:hover{
    font-weight: 700;
}
li a::after{
content: "";
position: absolute;
bottom: -20px;
width: 10px;
height: 3px;


}
.btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}